{% extends 'base.html' %}

{% block content %}
    <h1>My restaurants <small><a href="{% url 'restaurants:create' %}">Add</a></small></h1>

    <ul>
        {% for item in object_list %}
            <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                 {{ item.location }} {{ item.category }} {{ item.timestamp }} {{ item.updated }}</li>


        {% empty %}
            <li><a href="{% url 'restaurants:create'  %}">Add one</a></li>
        {% endfor %}
    </ul>
{% endblock %}