{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <form action="." class="form" method="GET">
        <input type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-default" type="submit">Search</button>
    </form>

    <hr>

    {% for restaurant in locations %}
        <div class="row">
            <div class="col-sm-12" style="border: 1px solid #ccc; border-radius: 5px; margin-bottom: 15px;">
                <h4>{{ restaurant.name }}</h4>
                <p>{{ restaurant.location }} | {{ restaurant.category }}</p>
                <div class="thumbnail">
                    <br>
                    <b>Items</b>
                    <ul>
                        {% for item in restaurant.item_set.all %}
                        <li style="margin-bottom: 15px">{{ item.name }}<br>
                            Contains : {{ item.contents }}
                            {% for ing in item.get_contents %}
                                <a href="{{ request.path }}?q={{ing}}">{{ ing }}</a>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    {% empty %}
        <p>no restaurants added yet.</p>
    {% endfor %}

{% endblock %}