{% extends 'base.html' %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <hr>

    <ul>
        {% for restaurant in user.restaurant_set.all %}
            <li>{{ restaurant.name }} | {{ restaurant.location }} | {{ restaurant.category }}
                <br>
                <b>Items</b>
                <ul>
                    {% for item in restaurant.item_set.all %}
                        <li style="margin-bottom: 15px">{{ item.name }}<br>
                            <ul>
                                {% for ing in item.get_contents %}
                                    <span style="padding: 4px 2px; margin-right: 4px; background-color: #ccc">
                                        {{ ing }}
                                    </span>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% empty %}
            <p>no restaurants added yet.</p>
        {% endfor %}
    </ul>

    {{ user.restaurant_set.all }}
    {{ user.item_set.all }}

{% endblock %}